SYTD/ManagementService/Web References/fileOperate/fileOperate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="deleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteDir">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="word" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sequence" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteDirResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteDirResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="deleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:deleteFile" />
  </wsdl:message>
  <wsdl:message name="deleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:deleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="deleteDirSoapIn">
    <wsdl:part name="parameters" element="tns:deleteDir" />
  </wsdl:message>
  <wsdl:message name="deleteDirSoapOut">
    <wsdl:part name="parameters" element="tns:deleteDirResponse" />
  </wsdl:message>
  <wsdl:portType name="fileOperateSoap">
    <wsdl:operation name="deleteFile">
      <wsdl:input message="tns:deleteFileSoapIn" />
      <wsdl:output message="tns:deleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteDir">
      <wsdl:input message="tns:deleteDirSoapIn" />
      <wsdl:output message="tns:deleteDirSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="fileOperateSoap" type="tns:fileOperateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteFile">
      <soap:operation soapAction="http://tempuri.org/deleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDir">
      <soap:operation soapAction="http://tempuri.org/deleteDir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="fileOperateSoap12" type="tns:fileOperateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="deleteFile">
      <soap12:operation soapAction="http://tempuri.org/deleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteDir">
      <soap12:operation soapAction="http://tempuri.org/deleteDir" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="fileOperate">
    <wsdl:port name="fileOperateSoap" binding="tns:fileOperateSoap">
      <soap:address location="http://localhost/spat/fileOperate.asmx" />
    </wsdl:port>
    <wsdl:port name="fileOperateSoap12" binding="tns:fileOperateSoap12">
      <soap12:address location="http://localhost/spat/fileOperate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>