SYFT/ShareMan/Web References/QS/QueryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/QS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/QS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/QS">
      <s:element name="QueryUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="srvType" type="tns:ServiceType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ServiceType">
        <s:restriction base="s:string">
          <s:enumeration value="QueryService" />
          <s:enumeration value="MasterControl" />
          <s:enumeration value="FileSetMan" />
          <s:enumeration value="ShareBrowse" />
          <s:enumeration value="InterServer" />
          <s:enumeration value="FileService" />
        </s:restriction>
      </s:simpleType>
      <s:element name="QueryUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuerySrvIp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuerySrvIpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QuerySrvIpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryActInterSrv">
        <s:complexType />
      </s:element>
      <s:element name="QueryActInterSrvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryActInterSrvResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryUrlSoapIn">
    <wsdl:part name="parameters" element="tns:QueryUrl" />
  </wsdl:message>
  <wsdl:message name="QueryUrlSoapOut">
    <wsdl:part name="parameters" element="tns:QueryUrlResponse" />
  </wsdl:message>
  <wsdl:message name="QuerySrvIpSoapIn">
    <wsdl:part name="parameters" element="tns:QuerySrvIp" />
  </wsdl:message>
  <wsdl:message name="QuerySrvIpSoapOut">
    <wsdl:part name="parameters" element="tns:QuerySrvIpResponse" />
  </wsdl:message>
  <wsdl:message name="QueryActInterSrvSoapIn">
    <wsdl:part name="parameters" element="tns:QueryActInterSrv" />
  </wsdl:message>
  <wsdl:message name="QueryActInterSrvSoapOut">
    <wsdl:part name="parameters" element="tns:QueryActInterSrvResponse" />
  </wsdl:message>
  <wsdl:portType name="QueriesSoap">
    <wsdl:operation name="QueryUrl">
      <wsdl:input message="tns:QueryUrlSoapIn" />
      <wsdl:output message="tns:QueryUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QuerySrvIp">
      <wsdl:input message="tns:QuerySrvIpSoapIn" />
      <wsdl:output message="tns:QuerySrvIpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryActInterSrv">
      <wsdl:input message="tns:QueryActInterSrvSoapIn" />
      <wsdl:output message="tns:QueryActInterSrvSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QueriesSoap" type="tns:QueriesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryUrl">
      <soap:operation soapAction="http://localhost/QS/QueryUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySrvIp">
      <soap:operation soapAction="http://localhost/QS/QuerySrvIp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryActInterSrv">
      <soap:operation soapAction="http://localhost/QS/QueryActInterSrv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QueriesSoap12" type="tns:QueriesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryUrl">
      <soap12:operation soapAction="http://localhost/QS/QueryUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerySrvIp">
      <soap12:operation soapAction="http://localhost/QS/QuerySrvIp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryActInterSrv">
      <soap12:operation soapAction="http://localhost/QS/QueryActInterSrv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Queries">
    <wsdl:port name="QueriesSoap" binding="tns:QueriesSoap">
      <soap:address location="http://localhost/qs/QueryService.asmx" />
    </wsdl:port>
    <wsdl:port name="QueriesSoap12" binding="tns:QueriesSoap12">
      <soap12:address location="http://localhost/qs/QueryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>