SYTD/WebService/ShareMan/Trans.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <schema targetNamespace="urn:ftp"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ftp="urn:ftp"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
  <simpleType name="Status">
   <restriction base="xsd:string">
    <enumeration value="STOP"/><!-- enum const = 1 -->
    <enumeration value="RUNNING"/><!-- enum const = 2 -->
    <enumeration value="PAUSE"/><!-- enum const = 3 -->
   </restriction>
  </simpleType>
  <complexType name="File">
   <sequence>
     <element name="id" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
     <element name="status" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="Position">
   <sequence>
     <element name="path" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="ip" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="user" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="pwd" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="port" type="xsd:int" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <complexType name="ArrayOfFile">
   <sequence>
     <element name="id" type="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
     <element name="status" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="path" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="item" type="ftp:File" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
 </schema>

